{
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "baseUrl": "./src",
    "paths": {
      "@libs/*": ["libs/*"]
    }
  },
  "module":{
    "importInterop":"swc",
    "resolveFully": true,
    "type": "es6"
  }
}
